@charset "UTF-8";

* {
    font-family: arial, Arial, Helvetica, sans-serif
}

body{
    background-image: linear-gradient(to right,#5005F2,#4804D9) ;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(188, 55, 255);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color:#664f97 ;
text-align: center;
text-shadow: 2px 1px 2px rgb(41, 13, 70);
}

h2{
  color:#2E038C ;
}

p{
    text-align: justify;
}