body{
    background-color: rgba(255, 228, 196, 0.87);
    font-family: Arial, Helvetica, sans-serif;
}
.tabela{
    width: 800px;
    border:  solid black
}

table{
    width: 800px;
    border-collapse: collapse;
    color: white;
    position: relative;
    
}
caption{
    background-color: #505050;
    font-size: 1.5em;
    padding: 15px;
    font-weight: bold;
    color: white;
    
}
thead > tr > th{
    position: sticky;
    top: 0%;
    background-color: #7c7c7c;
}
thead, tfoot{
    background-color: #7c7c7c;
    color: white;
    font-weight: bold;
    
}
th, td{
    border: 1px solid black;
    padding: 15px;
}
td.num{
    text-align: right;
}
/*para fazer o efeito zebrado, você vai estilizar o tr com a pseudo classse de 

:nth-child()
    você pode colocar dentro daquele parentesés      
    (odd = ímpar)
    ou
    (even = par)

    e colocar um background color de sua preferencia

*/
tbody > tr:nth-child(odd){
    background-color: mediumseagreen;
}
tbody > tr:nth-child(even){
    background-color: #226631;
}
td:hover{
    background-color: white ;
    color: black;
    font-weight: bold;
}
.box{
    background-color: #ffffff;
    width: 700px;
    border: 3px solid black;
    border-radius: 5px;
    margin-top: 5px;
}
