@charset "UTF 8";
body{
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
header{
    background-color: #ffff;
    margin: 1px;
    border: 8px;
    border-style: inset;
    border-color: black;
    padding: 1px;
}
Header > h1{
    font-size: 2.5em;
}
nav{
    background-color: #5f605f84;
    box-shadow: 1px -1px 8px 0px #000000;
}

nav > a{
    margin: 5px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    text-decoration: underline;
}
nav > a:active{
    color: #4111e1;
}
.grupo{
    background-color: #ffff;
    border: 8px;
    border-style: inset;
    border-color: black;
    padding: 1px;
    

}
.artigo{
    background-color: #ffff;
    border: 8px;
    border-style: inset;
    border-color: black;
    padding: 1px;
}
aside{
    background-color: #313131;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bolder;
    font-size: small;
}
footer{
    background-color: #000000;
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}
footer:hover{
    text-decoration: underline;
}