@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #d3d3d3;
}

header{
    background-color: #808080;

}
header > h1{
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

span#exibição{
    padding: 5px;
    display: block;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition-duration: 0.5s;
}

span#exibição:hover{
    background-color: whitesmoke;
    color: #000000;
    cursor: pointer;
}

menu{
    display: none;
}
menu > ul{
    list-style: none;
    
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(71, 71, 71);
    color: #ffffff;
    border-top: 1px solid #a9a9a9;
}

menu a:hover{
    background-color: rgb(27, 27, 27);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    
}



article > h1{
    padding-bottom: 20px;
}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}